footer {
    background: $dark-moderate-cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;

    nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            li {
                a {
                    color: $dark-desaturated-cyan;
                    font-family: Barlow, sans-serif;
                    text-decoration: none;
                }
            }
        }
    }
}

footer {
    gap: 3rem;
    padding: 5rem 0 3rem 0;

    nav {
        gap: 3rem;
    }
}