footer {
    background: $dark-moderate-cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 0 3rem 0;

    svg {
        fill: #2C7566;
        
        &:hover {
            transform: scale(1.1);
            fill: $white;
            transition: 0.3s ease;
        }
    }


    nav {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            li {
                a {
                    color: $dark-desaturated-cyan;
                    font-family: Barlow, sans-serif;
                    text-decoration: none;

                    &:hover {
                        color: $white;
                        transition: 0.3s ease;
                    }
                }
            }
        }
    }
}