header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        ul {
            list-style-type: none;
            display: flex;
            gap: 1rem;

            li {
                font-family: Barlow, sans-serif;
                
                a {
                    color: $white;
                    text-decoration: none;
                }

                .contact {
                    background: $white;
                    padding: .5rem 1rem;
                    border-radius: 2rem;
                    font-family: Fraunces, sans-serif;
                    color: $very-dark-desaturated-blue;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    header, .hamburger {
        padding: 1.25rem;
        
        .hamburger {
            position: fixed;
            right: 0;
            border: none;
            background: transparent;
            z-index: 3;
        }

        nav {
            ul {
                position: relative;
                display: flex;
                flex-direction: column;
                position: fixed;
                background: $white;
                left: 0;
                right: 0;
                width: 87.5%;
                margin: auto;
                top: -50%;
                align-items: center;
                padding: 1rem;
                z-index: 2;

                li {
                    a {
                        color: $very-dark-grayish-blue;
                        text-decoration: none;
                    }

                    .contact {
                        background: $yellow;
                        padding: .5rem 1rem;
                        border-radius: 2rem;
                        font-family: Fraunces, sans-serif;
                        color: $very-dark-desaturated-blue;
                    }
                }

                &.show {
                    transition: 0.3s ease;
                    top: 4rem;

                    .triangle {
                        top: -10%;
                        right: 0;
                        border-bottom: 3rem solid $white;
                        position: absolute;
                        border-left: 3rem solid transparent;
                      }
                    
                }
            }
        }
    }

}

@media screen and (min-width: 1024px) {
    header {
        padding: 2rem;

        .hamburger {
            display: none;
        }

        nav {
            ul {
                display: flex;

                li {
                    .contact:hover {
                        background: #71cefe;
                        transition: 0.2s ease;
                    }
                }
            }
        }
    }
}