section {
    display: flex;
    flex-direction: column-reverse;

    .white_bg {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.5rem;

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .75rem;
        }

        h2, a {
            color: $very-dark-desaturated-blue;
            font-family: Fraunces, sans-serif;
        }

        p {
            font-family: Barlow, sans-serif;
            color: $very-dark-grayish-blue;
        }

        a { 
            border-bottom: 5px solid $yellow;
            border-radius: .5rem;
            line-height: .8;
        }
    }

    .bg_image {
        height: 50vh;
        background: url("../images/mobile/image-transform.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (min-width: 1024px) {
    section {
        flex-direction: row;

        .white_bg {
            width: 50%;

            .text {
                align-items: flex-start;
                text-align: start;
                width: 75%;
                gap: 1rem;
            }
        }

        .bg_image {
            width: 50%;
            background: url("../images/desktop/image-transform.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }
}

@media screen and (min-width: 1280px) {
    section {
        .white_bg {
            .text {
                width: 40%;
            }
        }
    }
}