.section3 {
    height: 100vh;
    background: url("../images/mobile/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1.5rem;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        color: $dark-desaturated-cyan;

        h2 {
            font-family: Fraunces, sans-serif;
        }

        p {
            font-family: Barlow, sans-serif;
        }
    }
}

.section4 {
    height: 100vh;
    background: url("../images/mobile/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1.5rem;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        color: $dark-desaturated-cyan;

        h2 {
            font-family: Fraunces, sans-serif;
        }

        p {
            font-family: Barlow, sans-serif;
        }
    }
}

@media screen and (min-width: 1024px) {
    .section3_4 {
        display: flex;

        .section3 {
            background: url("../images/desktop/image-graphic-design.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .section4 {
            background: url("../images/desktop/image-photography.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .section3, .section4 {
            height: 100vh;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .text {
                width: 45%;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .section3_4 {
        .section3, .section4 {
            height: 50vh;
        }
    }
}