@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.header nav ul li {
  font-family: Barlow, sans-serif;
}
.header nav ul li a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
.header nav ul li .contact {
  background: hsl(0deg, 0%, 100%);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-family: Fraunces, sans-serif;
  color: hsl(212deg, 27%, 19%);
}

@media screen and (max-width: 1023px) {
  .header, .hamburger {
    padding: 1.25rem;
  }
  .header .hamburger, .hamburger .hamburger {
    position: fixed;
    right: 0;
    border: none;
    background: transparent;
    z-index: 3;
  }
  .header nav ul, .hamburger nav ul {
    position: relative;
    display: flex;
    flex-direction: column;
    position: fixed;
    background: hsl(0deg, 0%, 100%);
    left: 0;
    right: 0;
    width: 87.5%;
    margin: auto;
    top: -50%;
    align-items: center;
    padding: 1rem;
    z-index: 2;
  }
  .header nav ul li a, .hamburger nav ul li a {
    color: hsl(213deg, 9%, 39%);
    text-decoration: none;
  }
  .header nav ul li .contact, .hamburger nav ul li .contact {
    background: hsl(51deg, 100%, 49%);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-family: Fraunces, sans-serif;
    color: hsl(212deg, 27%, 19%);
  }
  .header nav ul.show, .hamburger nav ul.show {
    transition: 0.3s ease;
    top: 4rem;
  }
  .header nav ul.show .triangle, .hamburger nav ul.show .triangle {
    top: -10%;
    right: 0;
    border-bottom: 3rem solid hsl(0deg, 0%, 100%);
    position: absolute;
    border-left: 3rem solid transparent;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 2rem;
  }
  .header .hamburger {
    display: none;
  }
  .header nav ul {
    display: flex;
  }
  .header nav ul li .contact:hover {
    background: #71cefe;
    transition: 0.2s ease;
  }
}
.background_image {
  background: url("../images/mobile/image-header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.main {
  padding: 1.25rem;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.main .arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.main .arrow h1 {
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  font-family: Fraunces, sans-serif;
}
.main .arrow img {
  width: 36px;
  height: 114px;
}

@media screen and (min-width: 1024px) {
  .background_image {
    background: url("../images/desktop/image-header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .main {
    padding: 5rem;
  }
  .main .arrow h1 {
    font-size: 4rem;
  }
}
section {
  display: flex;
  flex-direction: column-reverse;
}
section .white_bg {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
}
section .white_bg .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
section .white_bg h2, section .white_bg a {
  color: hsl(212deg, 27%, 19%);
  font-family: Fraunces, sans-serif;
}
section .white_bg p {
  font-family: Barlow, sans-serif;
  color: hsl(213deg, 9%, 39%);
}
section .white_bg a {
  border-bottom: 5px solid rgba(250, 212, 0, 0.5);
  border-radius: 0.5rem;
  line-height: 0.6;
  text-decoration: none;
}
section .white_bg a:hover {
  border-bottom: 5px solid hsl(51deg, 100%, 49%);
  transition: 0.3s ease;
}
section .bg_image {
  height: 50vh;
  background: url("../images/mobile/image-transform.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  section {
    flex-direction: row;
  }
  section .white_bg {
    width: 50%;
  }
  section .white_bg .text {
    align-items: flex-start;
    text-align: start;
    width: 75%;
    gap: 1rem;
  }
  section .bg_image {
    width: 50%;
    background: url("../images/desktop/image-transform.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  section .white_bg .text {
    width: 40%;
  }
}
.section2 {
  display: flex;
  flex-direction: column-reverse;
}
.section2 .white_bg {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
}
.section2 .white_bg .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.section2 .white_bg h2, .section2 .white_bg a {
  color: hsl(212deg, 27%, 19%);
  font-family: Fraunces, sans-serif;
}
.section2 .white_bg p {
  font-family: Barlow, sans-serif;
  color: hsl(213deg, 9%, 39%);
}
.section2 .white_bg a {
  border-bottom: 5px solid rgba(254, 120, 103, 0.5);
  border-radius: 0.5rem;
  line-height: 0.6;
  text-decoration: none;
}
.section2 .white_bg a:hover {
  border-bottom: 5px solid hsl(7deg, 99%, 70%);
  transition: 0.3s ease;
}
.section2 .bg_image {
  height: 50vh;
  background: url("../images/mobile/image-stand-out.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .section2 {
    flex-direction: row-reverse;
  }
  .section2 .white_bg {
    width: 50%;
    padding: 0;
  }
  .section2 .white_bg .text {
    align-items: flex-start;
    text-align: start;
    width: 75%;
    gap: 1rem;
  }
  .section2 .bg_image {
    width: 50%;
    background: url("../images/desktop/image-stand-out.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .section2 .white_bg .text {
    width: 40%;
  }
}
.section3 {
  height: 100vh;
  background: url("../images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.5rem;
}
.section3 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: hsl(167deg, 40%, 24%);
}
.section3 .text h2 {
  font-family: Fraunces, sans-serif;
}
.section3 .text p {
  font-family: Barlow, sans-serif;
}

.section4 {
  height: 100vh;
  background: url("../images/mobile/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.5rem;
}
.section4 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: hsl(167deg, 40%, 24%);
}
.section4 .text h2 {
  font-family: Fraunces, sans-serif;
}
.section4 .text p {
  font-family: Barlow, sans-serif;
}

@media screen and (min-width: 1024px) {
  .section3_4 {
    display: flex;
  }
  .section3_4 .section3 {
    background: url("../images/desktop/image-graphic-design.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .section3_4 .section4 {
    background: url("../images/desktop/image-photography.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .section3_4 .section3, .section3_4 .section4 {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .section3_4 .section3 .text, .section3_4 .section4 .text {
    width: 45%;
  }
}
@media screen and (min-width: 1280px) {
  .section3_4 .section3, .section3_4 .section4 {
    height: 50vh;
  }
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem 0;
}
.testimonials h2 {
  font-family: Fraunces, sans-serif;
  color: #56595D;
  font-size: 1.25rem;
}
.testimonials .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem;
}
.testimonials .article:nth-last-child(3) {
  padding-bottom: 0;
}
.testimonials .article img {
  max-width: 4rem;
  border-radius: 50%;
}
.testimonials .article blockquote {
  font-family: Barlow, sans-serif;
  color: hsl(213deg, 9%, 39%);
}
.testimonials .article .name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.testimonials .article .name p {
  font-family: Fraunces, sans-serif;
  color: hsl(212deg, 27%, 19%);
}
.testimonials .article .name small {
  font-family: Barlow, sans-serif;
  color: #56595D;
}

@media screen and (min-width: 1024px) {
  .testimonials {
    padding: 10rem 0;
    gap: 3rem;
  }
  .testimonials .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .testimonials .row .article {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .testimonials .row {
    width: 70%;
    justify-content: space-between;
  }
}
.decorations {
  display: flex;
  flex-direction: column;
}
.decorations div {
  width: 100%;
  height: 50vh;
}
.decorations .row {
  display: flex;
  flex-direction: row;
}
.decorations .milk {
  background: url("../images/mobile/image-gallery-milkbottles.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.decorations .orange {
  background: url("../images/mobile/image-gallery-orange.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.decorations .cone {
  background: url("../images/mobile/image-gallery-cone.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.decorations .sugar {
  background: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  .decorations {
    flex-direction: row;
  }
  .decorations .milk {
    background: url("../images/desktop/image-gallery-milkbottles.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .decorations .orange {
    background: url("../images/desktop/image-gallery-orange.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .decorations .cone {
    background: url("../images/desktop/image-gallery-cone.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .decorations .sugar {
    background: url("../images/desktop/image-gallery-sugarcubes.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
footer {
  background: #91CABF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 0 3rem 0;
}
footer svg {
  fill: #2C7566;
}
footer svg:hover {
  transform: scale(1.1);
  fill: hsl(0deg, 0%, 100%);
  transition: 0.3s ease;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
footer nav ul li a {
  color: hsl(167deg, 40%, 24%);
  font-family: Barlow, sans-serif;
  text-decoration: none;
}
footer nav ul li a:hover {
  color: hsl(0deg, 0%, 100%);
  transition: 0.3s ease;
}/*# sourceMappingURL=style.css.map */