@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  position: relative;
}

img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

header nav ul li {
  color: white;
  font-family: Barlow, sans-serif;
}

header nav ul li .contact {
  background: white;
  padding: .5rem 1rem;
  border-radius: 2rem;
  font-family: Fraunces, sans-serif;
  color: #23303e;
}

@media screen and (max-width: 1023px) {
  header, .hamburger {
    padding: 1.25rem;
  }
  header .hamburger, .hamburger .hamburger {
    position: fixed;
    right: 0;
    border: none;
    background: transparent;
    z-index: 3;
  }
  header nav ul, .hamburger nav ul {
    position: relative;
    display: none;
  }
  header nav ul li, .hamburger nav ul li {
    color: #5a636c;
  }
  header nav ul li .contact, .hamburger nav ul li .contact {
    background: #fad400;
    padding: .5rem 1rem;
    border-radius: 2rem;
    font-family: Fraunces, sans-serif;
    color: #23303e;
  }
  header nav ul.show, .hamburger nav ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    width: 87.5%;
    margin: auto;
    top: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  header nav ul.show .triangle, .hamburger nav ul.show .triangle {
    top: -10%;
    right: 0;
    border-bottom: 3rem solid white;
    position: absolute;
    border-left: 3rem solid transparent;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 2rem;
  }
  header .hamburger {
    display: none;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.background_image {
  background: url("../images/mobile/image-header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

main {
  padding: 1.25rem;
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

main .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

main .arrow h1 {
  color: white;
  text-align: center;
  font-family: Fraunces, sans-serif;
}

main .arrow img {
  width: 36px;
  height: 114px;
}

@media screen and (min-width: 1024px) {
  .background_image {
    background: url("../images/desktop/image-header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  main {
    padding: 5rem;
  }
  main .arrow h1 {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */